:root{
    --primary-dark-blue : hsl(243, 87%, 12%);
    --primary-desaturated-blue : hsl(238, 22%, 44%);
    --accent-bright-blue : hsl(224, 93%, 58%);
    --accent-moderate-cyan :  hsl(170, 45%, 43%);
    --neutral-grayish-blue :  hsl(240, 75%, 98%);
    --neutral-light-gray :   hsl(0, 0%, 75%);
    --heading-font : "Raleway", sans-serif;
    --body-font : "Open Sans", sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

img{
    font-size: 1rem;
}

.nav_links{
    display: flex;
    justify-content: space-around;
}

.nav_links li{
    list-style: none;
}

.nav_links a{
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--body-font);
    color: var(--primary-dark-blue);
    text-wrap: nowrap;
    padding:  0 10px;
}

header{
    padding: 30px 10px;
    text-align: center;
}

.main-img{
    margin-bottom: 4rem;
}

.main-text{
    font-family: var(--heading-font);
    color: var(--primary-dark-blue);
    text-align: center;
}

.main-text h1{
    margin-bottom: 30px;
    font-weight: 700;
}

.main-text p{
    margin-bottom: 30px;
    text-align: center;
    font-family: var(--body-font);
    font-weight: 400;

}

.email-form{
    margin-bottom: 1rem;
    padding: 1rem 50% 1rem 5%;
    border-radius: .5rem;
    border: .13rem solid var(--primary-dark-blue);
    font-family: var(--body-font);
    font-size: 1rem;
}

button{
    padding: 1rem 40%;
    border-radius: .5rem;
    border: 0;
    background-color: var(--accent-bright-blue);
    color: white;
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.section1{
    background-color: var(--neutral-grayish-blue);
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    text-align: center;
}

.text h1{
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-dark-blue);
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.text p{
    margin-bottom: 30px;
    text-align: left;
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--neutral-light-gray);
    padding-left: 1rem;
}

.text a{
    color: var(--accent-moderate-cyan);
    font-family: var(--body-font);
    font-weight: 500;
}

aside{
    background-color: white;
    width: 80%;
    position: relative;
    left: 10%;
    border-radius: .3rem;
    padding: 1.8rem;
    margin-top: 1rem;
}

aside img{
    font-family: var(--heading-font);
    border-radius: 0;
}

.segment p{
    font-family: var(--heading-font);
    font-size: 1rem;
    color: var(--primary-desaturated-blue);
    font-weight: 500;
}

.flex{
    display: flex;
    align-content: center;
}
.flex img{
    border-radius: 3rem;
}

.avatar{
    padding-left: 1rem;
    padding-top: .2rem;
    font-family: var(--heading-font);
    font-size: .8rem;
    color: var(--primary-dark-blue);
}
.avatar p{
    font-size: .6rem;
    padding-top: .3rem;
    padding-left: 0;
}

.section2{
    background-color: var(--primary-desaturated-blue);
    padding: 1rem;
    padding-bottom: 1rem;
    color: white;
    text-align: center;
    padding-top: 4rem;
}

.section2 h2{
    padding: 3rem 0 1rem;
    font-family: var(--heading-font);
}

.section2 p{
    padding-bottom: 3rem;
    font-family: var(--body-font);
    font-size: 1.2rem;
}

.main input{
    padding: 10px 40px 10px 10px ;
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: 0;
    width: 25rem;
    font-family: var(--body-font);
    font-size: .8rem;
    color: var(--neutral-light-gray);
}

.main button{
    padding: 1rem 0%;
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: 0;
    width: 25rem;
    margin-bottom: 5rem;
    font-size: .8rem;

}



footer{
    background-color: var(--primary-dark-blue);
    padding: 10%;
    color: var(--neutral-light-gray);
    font-family: var(--body-font);
}

footer ul{
    list-style: none;
}


.footer_flex{
    display: flex;
    flex-direction: column;
}


.footer_flex img{
    padding: 0 10px 0 0;
}

.footer_flex p{
    padding: 10px 10px 10px 0;
}

.footer_list{
    padding-top: 20px;
    margin-bottom: 20px;
}

.social_icon{
    border-radius: 20px;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;
}
.social_icon a{
    text-decoration: none;
}

.attribution{
    text-align: center;
}

@media (width > 768px){
    body{
        font-family: var(--body-font);
    }

    header{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        
    }

    .main-img{
        max-width: 50%;
    }

    .main-text{
        max-width: 50%;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .main-text p{
        text-align: left;
        padding-bottom: 10px;
        margin: 0;
    }

    .form-button{
        display: flex;
        max-width: 20%;
        padding: 0;
        margin: 0;
    }

    .email-form{
        flex: 60%;
        padding: 10px 50px 10px 10px;
        margin: 0;
    }
    .form-button button{
        flex: 20%;
        padding: 10px 50px 10px 50px;
        margin: 0;
    }
}