.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li, p, h1, h2, h3{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}



/* style for display flex for navigation elememnt tags */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 30px;
    padding: 20px 0px;
}
.nav_links{
    padding: 0px 10px;
    list-style: none;
    display: flex;
    align-items: center;
    color: black;
}
.nav_links a{
    padding-inline: 5px;
}


@media (width < 401px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 1rem;
        background-color: aqua;
    }

}


/* display flex for header elememnt tags */
.header-flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
}
.main-img{
    width: 50%;
    padding-left: 20px;
}
.main-text{
    width: 50%;
    padding: 0px 10px;
}
.main-text h1{
    font-size: 30px;
}
/* form and button styling */
.form-button{
    display: flex;
    gap: 15px;
    width: 100%;
}
.email-form {
    padding: 10px;
}
button{
    width: 100%;
    border-radius: 2px;
    padding: 12px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    font-size: 12px;
}


/* styling section1 */
.section1 {
    background-color: #F8F8FE;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;
}
.text{
    padding: 0px 20px;
}
.text h1{
    font-size: 30px;
}
/* styling the aside element */
aside{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    margin: 30px auto 10px 0px;
}

/* .icon {
    
} */


/* styling of section 2 */
.section2{
    background-color: hsl(228, 45%, 44%);
    height: 320px;
    align-items: center;
}




/* styling for footer */
.footer{
    align-content: center;
    background-color: hsl(228, 84%, 25%);
    height: 250px;
}


/* 

.access{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main2 {
    background-color: #F8F8FE;
}





@media only screen and (max-width: 768px) {
    a, li, p, h1, h2, h3{
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: black;
    }

    nav div, header, .flex, .access{
        display: none;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }

    button{
        border-radius: 2px;
        padding: 5px 20px;
        background-color: royalblue;
        color: white;
        border: none;
    }
}



.flexbox{
    display: flex;
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
    /* align-items: center; */
/* } */

